.all {
	width: 100%;
	position: absolute;
}

.d1 {
	z-index: 1500;
	top: 20px;
	left: 20px;
	position: absolute;
	width: 30px;
	height: 20px;
	transition: all 0.3s ease-in-out;
}

.s1 {
	top: 0;
	width: 100%;
	height: 2px;
	background: gray;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.s2 {
	top: 50%;
	width: 100%;
	height: 2px;
	background: gray;
	position: absolute;
}

.s3 {
	top: 100%;
	width: 100%;
	height: 2px;
	background: gray;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.d1-open {
	left: 240px;
}

.d1-open .s1 {
	top: 50%;
	transform: rotate(35deg);
}

.d1-open .s2 {
	
}

.d1-open .s3 {
	top: 50%;
	transform: rotate(-35deg);
}

.close {
	position: absolute;
	left: -300px;
	top: 0px;
	width: 300px;
	background: yellow;
	height: 600px;
	transition: all 0.3s ease-in-out;
	z-index: 1000;
}

.open {
	left: 0px;
}

.open_div {
	margin-top: 250px;
	width: 90%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.open_div1 {
	width: 30%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.input {
	float: left;
	width: 50%;
}

.open_btn {
	float: left;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	float: left;
	width: 100%;
}

.where {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.tem {
	height: 50px;
	font-size: 4em;
	margin-top: 60px;
	text-align: right;
	margin-right: 10px;
	color: #F0AD4E;
}

.tem1 {
	width: 100%;
	text-align: right;
}

.update {
	position: absolute;
	width: 100%;
	text-align: right;
	margin-top: 20px;
}

.sandaybg {
	float: left;
	width: 100%;
	height: 160px;
	margin-top: 20px;
}

.sanday {
	padding-top: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	width: 90%;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
}

.day {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 1.2em;
}

.day1 {
	margin-top: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 0.8em;
}

.day2 {
	margin-top: 50px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 0.8em;
}

.day3 {
	margin-top: 80px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 0.8em;
}

.dy1 {
	float: left;
	width: 38%;
	margin-left: auto;
	margin-right: auto;
}

.dy2 {
	float: left;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}

.dy3 {
	float: left;
	width: 17%;
	margin-left: auto;
	margin-right: auto;
}

.dy4 {
	float: left;
	width: 12%;
	margin-left: auto;
	margin-right: auto;
}

.airbg {
	float: left;
	width: 100%;
	height: 140px;
	margin-top: 30px;
}

.air {
	padding-top: 20px;
	background-color: rgba(0, 0, 0, 0.3);//背景颜色变透明
	width: 90%;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
}

.air1 {
	font-size: 3em;
	text-align: center;
	float: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.air2 {
	font-size: 3em;
	text-align: center;
	float: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.air3 {
	margin-top: 15px;
	font-size: 1em;
	text-align: center;
	float: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.air4 {
	margin-top: 15px;
	font-size: 1em;
	text-align: center;
	float: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.lifebg {
	float: left;
	width: 100%;
	height: 320px;
	margin-top: 30px;
}

.life {
	padding-top: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	width: 90%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}